.container1 {
    background-color: blue;
}

.container2 {
    background-color: green;
}

.col-sm {
    border: 1px solid black;
}

.grid1 {
    border: 1px solid black;
}

.grid2 {
    border: 1px solid black;
}

.grid3 {
    border: 1px solid black;
}